
@{
    ViewBag.Title = "EditBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Model;
<h2>修改</h2>
<form role="form" method="post" action="~/Admin/EditBlog">
    @if (ViewData["blog"] != null && ((BlogInfo)ViewData["blog"]).Id > 0)
    {
        BlogInfo blog = (BlogInfo)ViewData["blog"];
        <div class="form-group">
            <label for="exampleInputEmail1">标题</label>
            <input type="text" name="Title" class="form-control" placeholder="标题" value="@blog.Title"  />
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">内容</label>
            <textarea class="form-control" rows="3" name="Content" placeholder="内容">@blog.Content</textarea>
        </div>
        <input type="hidden" name="Id" value="@blog.Id" />
        <button type="submit" class="btn btn-default">修改</button>
    }
    else
    {
        <p>没有修改的数据</p>
    }

</form>

