
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Model;

@if (ViewData["blog"] != null)
{
    BlogInfo blog = (BlogInfo)ViewData["blog"];
    <h2>@blog.Title</h2>
    <p>@blog.Content</p>
    <p>@blog.CreatedTime.ToLongDateString()</p>

    <p><a class="btn btn-default" href="/Admin/EditBlog?Id=@blog.Id">修改 &raquo;</a><a class="btn btn-default" href="/Admin/DeleteBlog?Id=@blog.Id">删除 &raquo;</a></p>

}

